* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow-color: #fabe4c;
  --navy-color: #363958;
  --green-color: #a4bc46;
  --font-logo: "Montserrat", sans-serif;
  /* ... your colors ... */
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Roboto", sans-serif;
  
  /* Use rem for accessibility (1rem = 16px) */
  --size-small: 1rem;
  --size-medium: 1.5rem;
  --size-large: 2.25rem;
  --size-xlarge: 3rem;
  
  /* This makes padding scale from 20px on mobile to 135px on desktop */
  --base-padding: clamp(1.25rem, 10vw, 8.4rem);
}

body {
  font-family: var(--font-body);
  color: var(--navy-color);
  font-size: var(--size-small);
}

.dots {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 35vw;
  top: -100px;
  background: radial-gradient(circle, #ffe2aa 2px, transparent 3px);
  background-size: 15px 15px;
  background-repeat: repeat;
  z-index: 100;
}


.nav-hero {
  background-color: #fffbf0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 137px 0px 135px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 57px;
  align-items: center;
  font-weight: bold;
}

.nav-list a {
  text-decoration: none;
  color: var(--navy-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 35px;
}

.logo-img {
  width: 50px;
  height: 30px;
}

.logo-text {
  font-size: 25.43px;
  font-weight: bold;
  color: var(--navy-color);
  font-family: var(--font-logo);
}

.first-text {
  color: var(--green-color);
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 101px 0 129px 0;
}

.hero-content {
  max-width: 357px;
}

.hero-head {
  font-family: var(--font-heading);
  font-size: 80px;
  text-transform: uppercase;
}

.yellow-text {
  color: var(--yellow-color);
}

.shop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  gap: 10px;
  margin-top: 20px;
  width: 170px;
  height: 60px;
  font-size: 16px;
  color: white;
  background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}

.shop-btn img {
  width: 24px;
  height: 24px;
}

.img-container img {
  width: 400px;
  height: 400px;
}

.title {
  font-size: 48px;
}

.women-jacket {
  background-color: white;
  padding-left: 135px;
  padding-right: 135px;
}

.women-jacket .title {
  margin-top: 49px;
  margin-bottom: 21px;
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.card-containter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-left: 135px;
  padding-right: 135px;
}

.card {
  width: 370px;
  height: 550px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 18px;
  display: grid;
}

.jacket-img {
  background-color: #F1F1F1;
  width: 334px;
  height: 327px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
}

.jacket-img img {
  width: 293px;
  height: 293px;
}

.price-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price-btn h2 {
  color: var(--yellow-color);
  font-size: var(--size-large);
}

.footer {
  margin-top: 60px;
  display: flex;
  gap: 83px;
  padding: 100px 135px 175px 135px;
}

.footer-cards {
  display: grid;
  align-items: center;
  justify-content: center;
}

.f-cards {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 36px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 25px;
}

.f-cards img {
  width: 48px;
  height: 48px;
}

.footer-img img {
  width: 459px;
  height: 324px;
}
